@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

body{
    background-color: #ff735c;
}
#link{
    text-decoration: none;
    text-align: center;
    line-height: normal;
    display: grid; place-items: center; height: 200px;
}

.loadingComp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}